h1{
   font-family: serif; 
   font-size: 5em;
   text-align: center;
}
body{
    background-color: lightyellow;
}
.emoji-face{
    background-color: #f2dd68;
    height: 100px;
    width: 100PX;
    border-radius: 50%;
    box-shadow: 2px 0px 2px 2px black;
    position:relative;
}
.eye1{
    background-color:#995710;
    height: 11px;
    width: 12px;
    top: 30px;
    left: 20px;
    position: absolute;
    border-radius: 50%;
}
.eye2{
    background-color:#995710;
    height: 11px;
    width: 12px;
    top: 30px;
    left: 70px;
    position: absolute;
    border-radius: 50%;
}
.mouth{
  background-color: #995710; 
  height: 34px;
  width: 70px;
  border-radius: 0 0 90px 90px;
  position: absolute;
  top: 52px;
  left: 16px;
  z-index: 1;
  overflow: hidden;
}
.tongue{
    background-color: #e25d5d;
    width: 38px;
    height: 38px;
    top:20px ;
    left: 15px;
    border-radius: 40%;
    z-index: 2;
    position: absolute;

}